In [125]:
import pandas as pd

df = pd.read_csv("S&PDataset.csv")
df.isnull().sum()

GVKEY          0
datadate       0
fyear          0
indfmt         0
consol         0
popsrc         0
datafmt        0
conm           0
curcd          0
act         1975
aqc          991
at             0
capx         133
ceq            0
dt          1171
ebit           0
icapt          0
lct         1963
ni             0
revt           0
seq            0
xrd         4820
xrdp        4848
costat         0
dtype: int64

In [126]:
df.shape

(11047, 24)

In [127]:
len(df["GVKEY"].unique())

495

In [128]:
type(df["GVKEY"][0])

numpy.int64

In [129]:
df[df['GVKEY'] == '001045']['xrd']

Series([], Name: xrd, dtype: float64)

In [130]:
df["y"] = df["icapt"] / df["at"]

In [131]:
df["liquidity"] = df["at"]/df["lct"]
df["leverage"] = df["lct"]/df["ceq"]
df["ROA"] = df["ni"]/df["at"]

df.head()

,GVKEY,datadate,fyear,indfmt,consol,popsrc,datafmt,conm,curcd,act,...,ni,revt,seq,xrd,xrdp,costat,y,liquidity,leverage,ROA
0,1045,31/12/1999,1999,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,4424.0,...,985.0,17730.0,6858.0,NaN,NaN,A,0.514770,4.156548,0.855060,0.040412
1,1045,31/12/2000,2000,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,5179.0,...,813.0,19703.0,7176.0,NaN,NaN,A,0.482585,3.750072,0.974080,0.031015
2,1045,31/12/2001,2001,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,6540.0,...,-1762.0,18963.0,5373.0,NaN,0.0,A,0.463049,4.371805,1.398102,-0.053652
3,1045,31/12/2002,2002,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,4937.0,...,-3511.0,17299.0,957.0,NaN,NaN,A,0.438332,4.180525,7.565308,-0.116001
4,1045,31/12/2003,2003,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,4682.0,...,-1228.0,17440.0,46.0,NaN,NaN,A,0.449096,4.471718,142.586957,-0.041868

In [132]:
df.head()

,GVKEY,datadate,fyear,indfmt,consol,popsrc,datafmt,conm,curcd,act,...,ni,revt,seq,xrd,xrdp,costat,y,liquidity,leverage,ROA
0,1045,31/12/1999,1999,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,4424.0,...,985.0,17730.0,6858.0,NaN,NaN,A,0.514770,4.156548,0.855060,0.040412
1,1045,31/12/2000,2000,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,5179.0,...,813.0,19703.0,7176.0,NaN,NaN,A,0.482585,3.750072,0.974080,0.031015
2,1045,31/12/2001,2001,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,6540.0,...,-1762.0,18963.0,5373.0,NaN,0.0,A,0.463049,4.371805,1.398102,-0.053652
3,1045,31/12/2002,2002,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,4937.0,...,-3511.0,17299.0,957.0,NaN,NaN,A,0.438332,4.180525,7.565308,-0.116001
4,1045,31/12/2003,2003,INDL,C,D,STD,AMERICAN AIRLINES GROUP INC,USD,4682.0,...,-1228.0,17440.0,46.0,NaN,NaN,A,0.449096,4.471718,142.586957,-0.041868

In [133]:
# from linearmodels.panel import PanelOLS


# df = df.set_index(['GVKEY', 'fyear'])

# model = PanelOLS.from_formula('y ~ aqc + liquidity + leverage', data=df)

# results = model.fit()

# coefficients = results.params
# print(coefficients)

In [134]:
from linearmodels.panel import PooledOLS
import statsmodels.api as sm

# Assuming df is your DataFrame
# Make sure it has columns named 'GVKEY', 'fyear', 'y', 'aqc', 'liquidity', 'leverage'

# Set index to create a multi-index similar to panel data
df.set_index(['GVKEY', 'fyear'], inplace=True)

# Specify independent variables (X)
X = [
    'aqc',
    'liquidity',
    'leverage'
]

# Add constant to the independent variables
X = sm.add_constant(df[X])

# Fit pooled OLS model
model = PooledOLS(df['y'], X)
results = model.fit()

# Print coefficients
coefficients = results.params
print(coefficients)

const        5.334580e-01
aqc         -2.731890e-07
liquidity    2.041660e-02
leverage     7.451698e-05
Name: parameter, dtype: float64

c:\Users\Ayushee\AppData\Local\Programs\Python\Python311\Lib\site-packages\linearmodels\panel\model.py:882: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  super().__init__(dependent, exog, weights=weights, check_rank=check_rank)

In [136]:
print(results)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                      y   R-squared:                        0.3386
Estimator:                  PooledOLS   R-squared (Between):              0.4134
No. Observations:                8262   R-squared (Within):               0.1305
Date:                Sat, Feb 24 2024   R-squared (Overall):              0.3386
Time:                        17:15:27   Log-likelihood                    5844.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      1409.3
Entities:                         410   P-value                           0.0000
Avg Obs:                       20.151   Distribution:                  F(3,8258)
Min Obs:                       1.0000
Max Obs:                       49.000   F-statistic (robust):             1409.3
                                        P-value                           0.0000
Time periods:                      24   Distribution:                  F(3,8258)
Avg Obs:                       344.25
Min Obs:                       277.00
Max Obs:                       391.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.5335     0.0024     226.84     0.0000      0.5288      0.5381
aqc        -2.732e-07  6.499e-07    -0.4204     0.6742  -1.547e-06   1.001e-06
liquidity      0.0204     0.0003     65.011     0.0000      0.0198      0.0210
leverage    7.452e-05  5.386e-05     1.3834     0.1666  -3.107e-05      0.0002
==============================================================================

In [135]:
# import pandas as pd
# from linearmodels.panel import PooledOLS
# import statsmodels.api as sm

# # Assuming df is your DataFrame with columns 'gvkey', 'y', 'aqc', 'liquidity', 'leverage'
# df.set_index(['GVKEY', 'fyear'], inplace=True)

# # Group by 'gvkey'
# grouped = df.groupby('GVKEY')

# # List to store coefficients for each group
# coefficients_list = []

# # Iterate over groups
# for gvkey, group_df in grouped:
#     # Specify independent variables (X)
#     X = [
#         'aqc',
#         'liquidity',
#         'leverage'
#     ]
    
#     # Add constant to the independent variables
#     X = sm.add_constant(group_df[X])

#     # Fit pooled OLS model
#     model = PooledOLS(group_df['y'], X)
#     results = model.fit()

#     # Append coefficients to the list
#     coefficients_list.append(results.params)

# # Convert list of coefficients to DataFrame
# coefficients_df = pd.concat(coefficients_list, axis=1).T

# # Add 'gvkey' as index
# coefficients_df.index = grouped.groups.keys()

# # Print coefficients for each gvkey
# print(coefficients_df)